<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mosquee</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mosquee</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="liste-des-mosquees">
        <!-- <ion-icon name="play-circle"></ion-icon> -->
        Les Mosquées
      </ion-tab-button>
      <ion-tab-button tab="map-page">
        <!-- <ion-icon name="radio"></ion-icon> -->
        A proximitées
      </ion-tab-button>
      <!-- <ion-tab-button tab="map-page">
        Maps
      </ion-tab-button> -->
      <!-- <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
