<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header> -->

 
  <div class="header">
    <!-- <ion-icon color="success" name="menu-outline"></ion-icon> -->
     <h3 class="profil">Profil</h3>
     <ion-icon color="success" name="pencil-outline"></ion-icon>

  </div>

  <div class="photo">
    <img src="../../../assets/soudais.png" alt="">
  </div>
  <div class="nom">
    <h1>Moussa Bane</h1>
  </div>
   
  <div class="info-admin">
    <div class="text">
      <div class="trait"></div>
      <h1>Prenom :  <span> Moussa </span> </h1>
    </div>
    <div class="text">
      <div class="trait"></div>
      <h1>Nom :  <span> Bane</span> </h1>
    </div>
    <div class="text">
      <div class="trait"></div>
      <h1>Email :  <span> bane8251@gmail.com</span> </h1>
    </div>
  </div>

 
    <button class="btn-pass">Modifier mot de passe</button>
 

  <div class="logout">
    <ion-icon color="success" name="log-out-outline"></ion-icon>
  </div>
  <div class="disconnect">
    <h1>Déconnection</h1>
  </div>


</ion-content>
