<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>liste-lecteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">liste-lecteur</ion-title>
    </ion-toolbar>
  </ion-header> -->


  
  <h2 class="titre"> Liste des lecteurs</h2>

  

   <!-- <div class="container">
   <button  class="btn">
    <i class="fa-solid fa-plus"></i>
    Ajouter
   </button>

   <div class="search-container">
    <input type="search" value="" class="recherche">
    <div class="search-icon">
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </div>
</div> -->

<div class="div_ajouter_search">

  <div class="btn_container">
    <button id="open-modal" expand="block" class="btn_ajout">
      <i class="fa-solid fa-plus"></i>
      Ajouter
    </button>
  </div>

  <!-- Debut Pour les recherche bare search_container  -->
  <div class="search_container">
    <div class="recherche_bare">
      <input type="search" name="search" placeholder="Recherche">
      <!-- mon icon de recherche  -->
      <i class="ri-search-line icon_search"></i>
    </div>
  </div>
  <!-- Fin Pour les recherche bare search_container  -->

</div>

   
   <div class="event-info">
    <div class="localisation">
      <img src="../../../assets/image/img_1.jpeg" alt="" class="img">
      <div class="loc">
     <p class="nom">Nom Imam</p>
     <p class="prenom">Prenom Imam</p>
     <p class="nationnalite">Nationnalite Imam</p>
      </div>
   
      
      </div>
   
  

   </div>



</ion-content>
