/* Style de base pour les éléments de la liste */
ion-item {
    display: flex;
    // align-items: center;
    margin-right: 3%;
    margin-left: 3%;
    padding: 16px;
    margin-bottom: 10px; /* Espace vertical entre les mosque-item */
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 70px;
    box-shadow: 0px 2px 4px #25A069; /* Ajoute une ombre à la bordure */
  }
 
  .ident{
    margin-bottom: 15px;
    
  }
  
 img{
  width: 45%;
  text-align: left;
 }
  
  .mosque-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 16px;
    border-radius: 5px;
  }
 
  .mosque-details {
    flex-grow: 1;
    margin-right: 16px;
  }
  
  /* Style de l'icône de localisation */
   ion-icon {
    font-size: 40px;
    color: #04a755; 
    margin-left: 70%;
    position: fixed;
  }
  
  /* Style pour le titre de la mosquée */
  h2 {
    font-size: 18px;
    margin: 0;
  }
  
  /* Style pour les détails de la mosquée */
  p {
    font-size: 14px;
    margin: 0;
    color: #555;
  }
  .custom-input{
    height: 30px;
  }
  