<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des Mosquées</ion-title>
  </ion-toolbar>
</ion-header> -->



 

     <!--<div class="list">
      <div class="mosque-item">
        <div class="mosque-image">
          <img src="../../../assets/image/image 10.png" alt=" Mosquée" />
        </div>
        <div class="mosque-details">
          <h2>{{ mosque.name }}</h2>
          <p>{{ mosque.adresse }}</p>
         
        </div>
        <div class="location-icon">
          <ion-icon name="location"></ion-icon>
        </div>
      </div>
      <div class="mosque-item">
        <div class="mosque-image">
          <img src="../../../assets/image/image 10.png" alt=" Mosquée" />
        </div>
        <div class="mosque-details">
          <h2>{{ mosque.name }}</h2>
          <p>{{ mosque.adresse }}</p>
          
         
        </div>
        <div class="location-icon">
          <ion-icon name="location"></ion-icon>
        </div>
      </div>
      <div class="mosque-item">
        <div class="mosque-image">
          <img src="../../../assets/image/image 10.png" alt=" Mosquée" />
        </div> -->
        <ion-content>
          <ion-list> 
            <ion-item  *ngFor="let mosque of mosquee" >
                <img src="../../../assets/image/image 10.png" alt="">
                <div class="ident">
                  <h1>{{ mosque.nom }}</h1>
                  <h2>{{ mosque.adresse }}</h2>
                </div>
        <ion-icon  name="location"></ion-icon>
      </ion-item> 
    </ion-list>
 </ion-content> 
        
      <!-- </div>
     </div> -->
   

