<ion-content class="global_container">

    <ion-header class="container_header">

      <!-- conception de mon header  -->
      <div class="header_content">
          <!-- mon icon de retour -->
          <div class="icon_retour">
            <i class="ri-reply-all-line"></i>
          </div>
    
          <!-- Le code de premium  -->
          <div class="premium">
            <button class="btn_premium">
              Passer au Premium
            </button>
          </div>
      </div>
    
      <!-- ======================== FIN DE HEADER  -->
    
    </ion-header>
  
    <!--=============== DEBUT conception de cadre de ma lecture coran ============ -->
    <div class="conatiner_lectureCoran">
  
      <!-- Debut Pour les lectureCoran_content_haut  -->
      <div class="lectureCoran_content">
  
          <!-- pour les lecteurCoranHaut  -->
          <div class="lecteurCoranHaut">
            
              <div class="line_lecteur_coran">
                  <div class="title_lecteurCoran">
                    <h3>LECTURE CORAN</h3>
                  </div>
        
                  <div class="icon_lecteurCoran">
                      <i class="ri-settings-line"></i>
                  </div>
              </div>
              
              <div class="titleCoran">
                <h5>قارئ القرآن</h5>
              </div>

          </div>
  
          <!-- pour les lecteurCoranBas  -->
          <div class="lecteurCoranBas">
              <div class="date_coran">
                  <p class="date_coran_content">
                    20 safar 1445 AH
                  </p>
              </div>
  
              <div class="image_coran">
                <img src="../../../assets/img_sy/image_coran.png" alt="image de Coran">
              </div>
          </div>
        
      </div> 
      <!-- Fin Pour les lectureCoran_content_haut  -->

      <!-- 1er ETAPE -->
      
      <!-- Debut Pour les recherche bare search_container  -->
      <div class="search_container">
          <div class="recherche_bare">
            <input type="search"  name="search" placeholder="Recherche">
            <!-- mon icon de recherche  -->
            <i class="ri-search-line icon_search"></i>
          </div>
      </div>
      <!-- Fin Pour les recherche bare search_container  -->

      <!-- 2ème ETAPE -->

      <!-- Debut Pour les lectureCoran_content_haut  -->
      <div class="tilte_imam">
        <h4 class="nom_imams">Les imams</h4>
      </div>
      <!-- Fin Pour les lectureCoran_content_haut  -->
      
      <!-- 3ème ETAPE -->

      <!-- Debut pour les liste des imams qui affiche  -->
      <div *ngIf="lecteurs" class="container_list_imams">

        <!-- l'imam 1111111111111  -->
        <div *ngFor="let lecteur of lecteurs" class="list_imams">

          <!-- section de mon image imam  -->
          <div class="img_plus_nom">
              <div class="img_imams">
                <img src="../../../assets/img_sy/img_1.jpeg" alt="image de imam">
              </div>

              <!-- section de mon de nom et description de l'imams  -->
              <div class="nom_desc_imam">
                <h5 class="name_imam">{{lecteur.reciter_name}}</h5>
                <p>Une petite description de l'imam</p>
              </div>
          </div>

          <!-- section pour avoir l'accès  -->
          <div class="acceder_imams">
              <a routerLink="/user-liste-des-sourates/{{lecteur.id}}"> Acceder </a>
          </div>

        </div>

      </div>
      <!-- Fin pour les liste des imams qui affiche  -->
    </div>
    <!--=============== FIN conception de cadre de ma lecture coran ============ -->

</ion-content>
<ion-footer>
  <div>
    <div>
      
    </div>
  </div>
</ion-footer>