<!-- <ion-header >
  <ion-toolbar>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header >
    <div class="headRoundVert">
      <div class="headRoundBlanc">

      </div>
    </div>
  </ion-header> -->
  
  <div class="customToolBarDiv">
    <div class="timerToolBar">
      <!-- <img class="logoApp" src="../../../assets/logo_app_white.png" alt="" srcset=""> -->
      <span class="nameApp">Muslim Guide</span>
      <div class="timerDiv">
        <div class="currentHoraireName">
          <p>{{nextPriyerTimeName}}</p>
        </div>
        <div>
          <p>- {{timer}}</p>
        </div>
      </div>
    </div>
    <div class="headRoundVert">
      <div class="headRoundBlanc">
  
      </div>
    </div>
  </div>

  <div class="carousel-container">
    <igx-carousel #carousel [pause]="false" [interval]="5000" [navigation]="false" [gesturesSupport]="true" >
        <igx-slide *ngFor="let titre of titresHoraire" >
          <div class="cardSlide">
            <img class="imgMosquee" src="../../../assets/mosque_icon.png" alt="" srcset="">
            <div class="hintGreen">
              <div class="infoPriere">
                <p class="nomPriere">{{titre | titlecase}}</p>
                <p class="heurePriere" *ngIf="mosquee">{{horaireMosquee[titre]}}</p>
                <p class="nomMosquee" *ngIf="mosquee">{{mosquee.nom}}</p>
                <p *ngIf="!mosquee"> Connectez-vous svp</p>
              </div>
              <div class="localPosition">
                <img src="../../../assets/icone_position_sm.png" alt="" srcset="">
                <span *ngIf="mosquee">{{mosquee.adresse}}</span>
              </div>
            </div>
          </div>
        </igx-slide>
        <ng-template igxCarouselIndicator></ng-template>
        <!-- <ng-template  igxCarouselPrevButton let-disabled></ng-template>
        <ng-template  igxCarouselNextButton let-disabled></ng-template> -->
    </igx-carousel>
    <ion-card class="btnMosquee" >
      <img (click)="goToMosquee()" class="logoMapMosquee" src="../../../assets/icons8-marqueur-de-plan-96.png" alt="" srcset="">
      <p>MOSQUEE</p>
    </ion-card>
    <div class="btnGroupe">
      <ion-card class="btnQuran" (click)="goToQuran()">
        <img class="logoQuran" src="../../../assets/logo_quran.png" alt="" srcset="">
        <p>QURAN</p>
      </ion-card>
      <ion-card class="btnAudio" (click)="goToAudio()">
        <img class="logoCalendar" src="../../../assets/soudais.png" alt="" srcset="">
        <p>AUDIO QURAN</p>
      </ion-card>
    </div>
    <div class="btnGroupe">
      <ion-card class="btnKaaba" (click)="goToKaaba()">
        <img class="logoKaaba" src="../../../assets/logo_kaaba_bouss.png" alt="" srcset="">
        <p>KAABA</p>
      </ion-card>
      <ion-card class="btnHidjri" (click)="goToHijri()">
        <img class="logoCalendar" src="../../../assets/logo_calendar.png" alt="" srcset="">
        <p>HIDJRI</p>
      </ion-card>
    </div>
    <div class="btnGroupe">
      <ion-card class="btnAnnonce" (click)="goToAnnonce()">
        <img class="logoAnnonce" src="../../../assets/icons8-annonce-80.png" alt="" srcset="">
        <p>ANNONCE</p>
      </ion-card>
      <ion-card class="btnTasbih" (click)="goToChapelet()">
        <img class="logoTasbih" src="../../../assets/icons8-chapelet-64.png" alt="" srcset="">
        <p>TASBIH</p>
      </ion-card>
    </div>
    <ion-card class="btnFm" (click)="goToRadio()">
      <img class="logoFm" src="../../../assets/icons8-radio-50.png" alt="" srcset="">
      <p>RADIO</p>
    </ion-card>
    <!-- <p>{{test}}</p> -->
</div>

</ion-content>
