.container{
    background-color: #25A069;
    height: 100%;
    width: 100%;
}

h1{
    color: white !important;
    margin-left: 14vh;
    margin-top: -5px;
}

.audio-min-start{
    color: white;
}

.audio-min-end{
    color: white;
    margin-left: 35px;
}

.music{
    display: flex;
}

.contain{
    width: 270px;
    margin-left: 10px;
    height: 15px;
    border-radius: 20px;
    margin-top: 18px !important;
    background-color: whitesmoke;
}