<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lire-Coran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="page-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lire-Coran</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <img src="../../../assets/image/mosqué-play.png" alt="mosquée"> <br>
    <h1>Titre Sourate</h1>
    <div class="music">
      <p class="audio-min-start">2:30 </p> <span class="contain"></span> <p class="audio-min-end"> 4:30</p>
    </div>
  </div>



</ion-content>
