.container{
    background-color: #25A069;
    height: 100%;
    width: 100%;
}

h1{
    color: white !important;
    margin-left: 14vh;
    margin-top: -5px;
}

//minute debut audio
.audio-min-start{
    margin-top: 16px;
    color: white;
    size: 20px ;
    margin-left: 2px;
    font-size: 15px;
}

// bar de progression  en jaune
.contain-p-bar{
    width: 50%;
    height: 15px;
    border-radius: 20px;
    background-color: yellow;
}
.flex_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: -190px;
}

ion-range{
    margin-left: 5px;
}

// minute fin  audio
.audio-min-end{
    margin-top: 16px;
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-right: 5px;
}

//div pour la partie music de minute debut à la minute fin
.music{
    display: flex;
    margin-top: 110px;
}

// barre de progression en blanc 
.contain{
    margin-top: 10px;
    width: 270px;
    height: 15px;
    border-radius: 20px;
    margin-left: 13px;
    margin-top: 18px !important;
    background-color: whitesmoke;
}

.contenu-bas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -15vh;
}

ion-content {
    --background: #25A069;
  }

//   barre en rond avec 2 icon en bas 

  .bas{

    display: flex; 
    justify-content: space-between;
    width: 260px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px ;
    margin-top: -60px;
    
  }
  
  ion-icon{
    font-weight: 500;
  }