<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lire-Coran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="page-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lire-Coran</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <img src="../../../assets/image/mosqué-play.png" alt="mosquée"> <br>
    <h1>Titre Sourate</h1>
    <div class="music">
      <p class="audio-min-start" style="font-size: 20px;">02:30 </p> <span class="contain"><div class="contain-p-bar"></div> </span> <p class="audio-min-end"> 04:30</p>
    </div>
  </div>


 <div class="contenu-bas">
  <img src="../../../assets/image/prev-play.png" alt="" width="20px;" style="margin-left: 15px; height: 20px;">
  <img src="../../../assets/image/play-icon.png" alt="" style="height: 25px;">
  <img src="../../../assets/image/next-play.png" alt="" width="20px;" style="margin-right: 15px; height: 20px;">
 </div>
</ion-content>
