

<ion-content  [fullscreen]="true">
 <h1>Ajouter Mosquée</h1>
    <form >
        
          <ion-label class="label" position="">Nom de la Mosquée</ion-label>
        <ion-input id="id" name="nom"></ion-input><br>
      
        <ion-label class="label" position="">Annexe</ion-label>
        <ion-input id="id" name="annexe"></ion-input><br>
        
      
        <ion-label position="">Heures de Prière</ion-label>
       <div class="heure">
        <div class="column1">
          <ion-input name="heuresDePriere"  ></ion-input>
          <ion-input name="heuresDePriere" ></ion-input>
          <ion-input name="heuresDePriere" ></ion-input>
          </div>
          <div class="column1">
            <ion-input name="heuresDePriere" ></ion-input>
            <ion-input name="heuresDePriere" ></ion-input>
            <ion-input name="heuresDePriere" ></ion-input>
          </div>
       </div>
  
      <ion-button expand="full" type="submit">Ajouter la Mosquée</ion-button>
    </form>
  
  
</ion-content>

