<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button >
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div class="iman-info">
        <div class="fullname">
          <p>nom et prenom</p>
        </div>
      <div class="photo">
        <img src="" alt="la photo de l\'iman">
      </div>
    </div>
    </ion-card-content>
</ion-card>
  <ion-searchbar></ion-searchbar>
</ion-content>
