<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>details-mosquees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="photo">
    <img src="../../../assets/image/r-bg-mosque 1.png" alt="mosque">
  </div>

  <div *ngIf="mosquee">
    <div class="info-adresse">
      <h3 class="titre-mosque">{{mosquee.nom}}</h3>
      <div class="long">
        <p class="metre">500m</p>
      </div>
      <div class="loc">
        <ion-icon name="location-outline" class="icon-loc"></ion-icon>
        <p class="loc-lieu">{{mosquee.adresse}}</p>
      </div>
  
      <div class="loc" style="margin-top: -20px;">
        <ion-icon name="call-outline" class="icon-loc"></ion-icon>
        <p class="loc-lieu">+223 20 - 01 - 98 - 19</p>
      </div>
      <div class="loc" style="margin-top: -20px;">
        <ion-icon name="person-circle-outline" class="icon-loc"></ion-icon>
        <p class="loc-lieu">{{mosquee.imam}}</p>
      </div>
    </div>
  
  
    <div class="liste">
      <div class="priere">
        <h3>Fajr</h3>
      </div>
      <div class="heure">
        <p style="margin-top: 15px; font-size: 20px;">{{horaire.fadjr}}</p>
      </div>
      <div class="clock">
        <ion-icon color="light" name="time-outline" style="margin-left: 40px; margin-top: 10px;"> </ion-icon>
      </div>
      <div class="horloge">
        <ion-icon style="margin-left: 30px; position: relative; margin-top: 10px;" color="light"
          name="notifications"></ion-icon>
      </div>
    </div>
    <div class="liste1">
      <div class="priere">
        <h3>Zohr</h3>
      </div>
      <div class="heure">
        <p style="margin-top: 15px; font-size: 20px;">{{horaire.zohr}}</p>
      </div>
      <div class="clock">
        <ion-icon color="light" name="time-outline" style="margin-left: 40px; margin-top: 10px;"> </ion-icon>
      </div>
      <div class="horloge">
        <ion-icon style="margin-left: 30px; position: relative; margin-top: 10px;" color="light"
          name="notifications"></ion-icon>
      </div>
    </div>
    <div class="liste2">
      <div class="priere">
        <h3>Asri</h3>
      </div>
      <div class="heure">
        <p style="margin-top: 15px; font-size: 20px;">{{horaire.asri}}</p>
      </div>
      <div class="clock">
        <ion-icon color="light" name="time-outline" style="margin-left: 40px; margin-top: 10px;"> </ion-icon>
      </div>
      <div class="horloge">
        <ion-icon style="margin-left: 30px; position: relative; margin-top: 10px;" color="light"
          name="notifications"></ion-icon>
      </div>
    </div>
    <div class="liste3">
      <div class="priere">
        <h3>Magreb</h3>
      </div>
      <div class="heure">
        <p style="margin-top: 15px; font-size: 20px;">{{horaire.magreb}}</p>
      </div>
      <div class="clock">
        <ion-icon color="light" name="time-outline" style="margin-left: 40px; margin-top: 10px;"> </ion-icon>
      </div>
      <div class="horloge">
        <ion-icon style="margin-left: 30px; position: relative; margin-top: 10px;" color="light"
          name="notifications"></ion-icon>
      </div>
    </div>
    <div class="liste4">
      <div class="priere">
        <h3>Isha</h3>
      </div>
      <div class="heure">
        <p style="margin-top: 15px; font-size: 20px;">{{horaire.isha}}</p>
      </div>
      <div class="clock">
        <ion-icon color="light" name="time-outline" style="margin-left: 40px; margin-top: 10px;"> </ion-icon>
      </div>
      <div class="horloge">
        <ion-icon style="margin-left: 30px; position: relative; margin-top: 10px;" color="light"
          name="notifications"></ion-icon>
      </div>
    </div>
    <div class="liste5">
      <div class="priere">
        <h3>Djouma</h3>
      </div>
      <div class="heure">
        <p style="margin-top: 15px; font-size: 20px;">{{horaire.djouma}}</p>
      </div>
      <div class="clock">
        <ion-icon color="light" name="time-outline" style="margin-left: 40px; margin-top: 10px;"> </ion-icon>
      </div>
      <div class="horloge">
        <ion-icon style="margin-left: 30px;  margin-top: 10px;" color="light" name="notifications"></ion-icon>
      </div>
    </div>
  
    <div class="div">
      <p class="don">Faire un don à la mosquée <br> au +223 20-01-98-19</p>
    </div>
  </div>


</ion-content>