<ion-header>
  <ion-toolbar>
    <ion-title>Modifier Lecteur</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input [(ngModel)]="lecteur.nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prénom</ion-label>
    <ion-input [(ngModel)]="lecteur.prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nationalité</ion-label>
    <ion-input [(ngModel)]="lecteur.nationalite"></ion-input>
  </ion-item>
  <ion-button (click)="enregistrerModifications()">Enregistrer</ion-button>
</ion-content>
