<ion-content class="container_list">

  <ion-header class="container_header">

    <!-- conception de mon header  -->
    <div class="header_list_mosque">

    </div>

    <div class="list_image_mosque">
      <img src="../../../assets/img_sy/mosque1.jpeg" alt="image de mosque">
    </div>
    
     <div class="nom_de_la_mosque">
        <a href="#" class="nomMosque"> Mosquée {{selectedMosqueName}}</a>
    </div> 
    <!-- <div class="nom_de_la_mosque">
      <p>{{ selectedMosqueName }}</p>
    </div> -->
    <!-- ======================== FIN DE HEADER  -->
  
  </ion-header>

  <div class="section_container_listMosque">

    <div class="title_tafsif">

      <h2 class="h2_title_tafsif">Tafsif</h2>

      <p class="date_title_tafsif">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" fill="none">
        <path d="M12.1875 2.125C12.6362 2.125 13 1.76823 13 1.32812V0.796875C13 0.356768 12.6362 0 12.1875 0H0.8125C0.363763 0 0 0.356768 0 0.796875V1.32812C0 1.76823 0.363763 2.125 0.8125 2.125C0.8125 5.14532 2.5396 7.69429 4.90351 8.5C2.5396 9.30571 0.8125 11.8547 0.8125 14.875C0.363763 14.875 0 15.2318 0 15.6719V16.2031C0 16.6432 0.363763 17 0.8125 17H12.1875C12.6362 17 13 16.6432 13 16.2031V15.6719C13 15.2318 12.6362 14.875 12.1875 14.875C12.1875 11.8547 10.4604 9.30571 8.0965 8.5C10.4604 7.69429 12.1875 5.14532 12.1875 2.125ZM6.5 6.90625C4.54367 6.90625 2.97917 4.69764 2.97917 2.125H10.0208C10.0208 4.71302 8.44628 6.90625 6.5 6.90625Z" fill="#D79A10"/>
        </svg> Dates/heures
      </p>

    </div>
    <!-- mon bare  -->
    <div class="bare_tafsif">
      <div class="bare_taf">

      </div>
    </div>

  </div>

  <!-- FIN  -->

        <!-- Debut pour les liste des TAFSIF qui affiche  -->
        <div class="container_list_tafsif">

          <div class="content_list_tafsif">
              <!-- TAFSIF 1111111111111  -->
              <ng-container  *ngFor="let detail of detailMosquees">
                <div class="list_tafsif">
                <!-- div de nom de tafsif -->
                <div class="div_name_tafsif">
                  <h3 class="name_tafsif">Tafsir</h3>
                </div>
              
                <!-- div de date de tafsif -->
                <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">{{ detail.date}}</p>
                </div>
              
                <!-- div de heure de tafsif -->
                <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">{{ detail.heureTabsir}}</h6>
                </div>
              </div>
              <div class="list_tafsif">
                <!-- div de nom de tafsif -->
                <div class="div_name_tafsif">
                  <h3 class="name_tafsif">Prêche</h3>
                </div>
              
                <!-- div de date de tafsif -->
                <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">{{ detail.date }}</p>
                </div>
              
                <!-- div de heure de tafsif -->
                <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">{{ detail.heurePreche}}</h6>
                </div>
              </div>
              
              </ng-container>
              
          </div>

        </div>
        <!-- Fin pour les liste des imams qui affiche  -->

</ion-content>



































              <!-- TAFSIF 2222222222222  -->
              <!-- <div class="list_tafsif"> -->
      
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div>
              </div>  -->

              <!-- TAFSIF 3333333333333  -->
              <!-- <div class="list_tafsif"> -->
      
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div>
              </div>  -->

              <!-- TAFSIF 4444444444444  -->
              <!-- <div class="list_tafsif">
       -->
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div>
              </div>  -->

              <!-- TAFSIF 5555555555555  -->
              <!-- <div class="list_tafsif">
       -->
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div>
              </div>  -->

              <!-- TAFSIF 66666666666666  -->
              <!-- <div class="list_tafsif"> -->
      
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div>
              </div>  -->

              <!-- TAFSIF 7777777777777  -->
              <!-- <div class="list_tafsif"> -->
      
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div>
              </div>  -->

              <!-- TAFSIF 888888888888  -->
              <!-- <div class="list_tafsif"> -->
      
                <!-- div de nom de tafsif  -->
                <!-- <div class="div_name_tafsif">
                  <h3 class="name_tafsif">tafsif</h3>
                </div> -->

                <!-- div de date de tafsif  -->
                <!-- <div class="div_date_tafsif">
                  <p class="paragraphe_tafsif">jj/mm/aa</p>
                </div> -->

                <!-- div de heure de tafsif  -->
                <!-- <div class="div_heure_tafsif">
                  <h6 class="heure_tafsif">14H30 & 16H30</h6>
                </div> -->
              <!-- </div>  -->