
<body>
 
  <h2>Ajouter un évenement</h2>
  <div class="container">
    
      
      <form [formGroup]="addevenForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="nom">Type :</label>
              <input type="text" id="type" name="type" placeholder="Quel type d'évenement ?"  formControlName = 'type'>
          </div><br>

          <div class="form-group">
            <label for="nom">Lieu :</label>
            <input type="text" id="type" name="type" placeholder="Où se tiendra t-il ?"  formControlName = 'lieu'>
        </div><br>

          <div class="form-group">
            <label for="nom">Date :</label>
            <input type="date" id="date" name="nom" placeholder="Quel jour ?" formControlName = 'date' required>
        </div><br>

        <div class="form-group">
          <label for="heure">Heure:</label>
          <input type="text" id="heure" name="heure" formControlName = 'heure' required>
      </div><br>

          <div class="form-group">
              <label for="description">Description :</label>
              <textarea  id="description"  name="description" placeholder="Décrivez l'évenement" formControlName = 'description' required></textarea>
          </div>
         
          <button type="submit" ajoutEven.valid>Ajouter</button>
      </form>
  </div>
  <!-- <img src="../../../assets/image/mosquee.jpg" alt="">  -->
</body>

<!-- 



<ion-content  [fullscreen]="true">
  <div class="entete">
    <ion-icon name="share-alt"></ion-icon>
  <h1>Ajouter </h1>
  </div>
     <form >
         
      <div class="ion">
        <div class="custom-input-container">
          <ion-label label-placement="floating">Type de l'evénement</ion-label>
          <input class="togo" fill="outline" placeholder="Quel type d'événement ?">
        </div>
        
        <div class="custom-input-container">
          <ion-label label-placement="stacked">Date</ion-label>
          <input class="togo" fill="outline" placeholder="Quel jour ?">
        </div>
        
        <div class="custom-input-container">
          <ion-label label-placement="floating">Heure</ion-label>
          <input class="togo" fill="outline" placeholder="A quelle heure?" minHeight="05">
        </div>

        <div class="custom-input-container">
          <ion-label label-placement="floating">Lieu</ion-label>
          <input class="togo" fill="outline" placeholder="Où se tiendra t-il ?" minHeight="05">
        </div>

        <div class="custom-input-container">
          <ion-label label-placement="floating">Description</ion-label>
          
            <textarea class="textarea" rows="3" placeholder="Decrivez votre évenement ici"></textarea>
          
        </div>
      </div>
      
     

      
      <ion-button color="success">Ajouter</ion-button>
    </form>
   
   
 </ion-content>
 
 
 -->
