
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::new modification -->
<ion-content [fullscreen]="true">
  <div class="container">

    <!-- Mon content  -->
    <form [formGroup]="ajoutEvenement" (ngSubmit)="onSubmit()">

      <!-- le titre de notre page  -->
      <div class="title">
        <h2>Ajouter un évenement</h2>
      </div>

      <!-- Mon container de cadre blanc  -->
      <div class="cadre_blanc_container">
        <!-- mon cadre blanc  -->
        <div class="cadre_blanc">

          <!-- Le Debut de mon input container  -->
          <div class="container_input">

            <!-- Le global de mon input  -->
            <div class="date_global">

              <!-- mon premier input  -->
              <div class="date_content">
                <label for="date" class="mon_label"> Date </label> 
                <br> <!-- Juste un espace -->
                <input type="date" class="mon_input" id="date" name="date" formControlName='date' required>
              </div>


              <!-- mon deuxième input  -->
              <div class="date_content">
                <label for="name_mosque" class="mon_label">Type </label> 
                <br> <!-- Juste un espace -->
                <input type="text" class="mon_input" name="type" placeholder="Quel?" formControlName='type' required>

              </div>

              <div class="date_content">
                <label for="name_mosque" class="mon_label">Lieu </label> 
                <br> <!-- Juste un espace -->
                <input type="text" class="mon_input" name="lieu" placeholder="Quel?" formControlName='lieu' required>

              </div>

              <!-- le double de input  -->
              <div class="double_input">

                <!-- Pour le premier  -->
                <div class="date_content_double1">
                  <label for="heure_preche" class="mon_label"> Heure </label>
                  <br> <!-- Juste un espace -->
                  <input type="time" class="mon_input" id="heure_preche" name="heure" formControlName='heure'
                    required>
                </div>



              </div>

              <div class="date_content">
                <label for="name_mosque" class="mon_label">Description </label> 
                <br> <!-- Juste un espace -->
                <textarea type="" class="mon_input" name="type" placeholder="Quel?" formControlName='description'
                  required> </textarea>

              </div>

              <div class="buttonIonic">
                <button type="reset" id="close" (click)="naviguerAnnonces()">Fermer</button>

                <button  type="submit"  value="Ajouter" id="open">Ajouter</button>
              </div>

            </div>

          </div>
          <!-- La Fin de mon input container  -->

        </div>

      </div>

    </form>
    <!-- (click)=" naviguerVersliste()" -->
  </div>
</ion-content>