



<ion-content  [fullscreen]="true">
  <div class="entete">
    <ion-icon name="share-alt"></ion-icon>
  <h1>Ajouter Radio</h1>
  </div>
     <form [formGroup]="ajoutRadio" (ngSubmit)="submit()" >
         
      <div class="ion">
        <div class="custom-input-container">
          <ion-label label-placement="floating">Nom de la Radio</ion-label>
          <ion-input type="text" name="nom" formControlName="nom" fill="outline" placeholder="Enter Nom ici"></ion-input>
        </div>
        
        <div class="custom-input-container">
          <ion-label label-placement="stacked">Frequence de la Radio</ion-label>
          <ion-input type="number" name="frequence" formControlName="frequence"  fill="outline" placeholder="Enter la Frequence ici"></ion-input>
        </div>
        
        <!-- <div class="custom-input-container">
          <ion-label label-placement="floating">Lien online</ion-label>
          <ion-input  fill="outline" placeholder="Enter le lien ici" minHeight="05"></ion-input>
        </div> -->
      </div>
      
      <!-- <ion-input style="height: 5px;width: 90%;" label="Nom de la Radio" label-placement="floating" fill="outline" placeholder="Saisissez le nom de la Radio ici"></ion-input>
      <ion-input style="height: 5px;width: 90%;" label="Frequence" label-placement="floating" fill="outline" placeholder="Saisissez la Frequence ici"></ion-input> -->


      
      <ion-button color="success" id="bbutton" type="submit"  ajoutRadio.valid>Ajouter</ion-button>
    </form>
   
   
 </ion-content>
 
 
