



<ion-content  [fullscreen]="true">
  <div class="entete">
    <ion-icon name="share-alt"></ion-icon>
  <h1>Ajouter Radio</h1>
  </div>
     <form [formGroup]="ajoutRadio" (ngSubmit)="submit()" >
         
      <div class="ion">
        <div class="custom-input-container">
          <ion-label label-placement="floating">Nom de la Radio</ion-label>
          <ion-input type="text" name="nom" formControlName="nom" fill="outline" placeholder="Enter Nom ici"></ion-input>
        </div>
        
        <div class="custom-input-container">
          <ion-label label-placement="stacked">Frequence de la Radio</ion-label>
          <ion-input type="number" name="frequence" formControlName="frequence"  fill="outline" placeholder="Enter la Frequence ici"></ion-input>
        </div>
        
      </div>
      <ion-button color="success" id="bbutton" type="submit"  ajoutRadio.valid>Ajouter</ion-button>
    </form>
 </ion-content>
 
 
