<div class="container">

  <!-- Mon content  -->
  <form [formGroup]="addannonceForm" (ngSubmit)="onSubmit()">

    <!-- le titre de notre page  -->
    <div class="title">
      <h2>Ajouter Annonce</h2>
    </div>

    <!-- Mon container de cadre blanc  -->
    <div class="cadre_blanc_container">
      <!-- mon cadre blanc  -->
      <div class="cadre_blanc">

        <!-- Le Debut de mon input container  -->
        <div class="container_input">

          <!-- Le global de mon input  -->
          <div class="date_global">
 
            <!-- mon premier input  -->
            <div class="date_content">
              <label for="date" class="mon_label"> Date </label>
              <br> <!-- Juste un espace -->
              <input type="date" class="mon_input" id="date" name="date" formControlName='date' required>
            </div>

            
            <!-- mon deuxième input  -->
            <div class="date_content">
              <label for="name_mosque" class="mon_label"> Nom Mosquée </label>
              <br> <!-- Juste un espace -->
              <!-- <input type="date" class="mon_input" id="date" name="date" required> -->
              <select class="mon_input"  name="name_mosque" id="name_mosque" formControlName='nomMosquee'>
                <option value="Choisis un mosqué">Choisis un mosquée</option>
                <option *ngFor="let mosquee of mosqueeData" [value]="mosquee.nom">{{ mosquee.nom }}</option>
              </select>
            </div>

            <!-- le double de input  -->
            <div class="double_input">

              <!-- Pour le premier  -->
              <div class="date_content_double1">
                <label for="heure_preche" class="mon_label_double"> Heure preche </label>
                <br> <!-- Juste un espace -->
                <input type="time" class="mon_input_double" id="heure_preche" name="heure_preche" formControlName='heurePreche' required>
              </div>

              <!-- Pour le deuxième  -->
              <div class="date_content_double2">
                <label for="heure_tabsir" class="mon_label_double"> Heure Tabsir </label>
                <br> <!-- Juste un espace -->
                <input type="time" class="mon_input_double" id="heure_tabsir" name="heure_tabsir" formControlName='heureTabsir' required>
              </div>

            </div>
            
            <div class="buttonIonic">
              <button type="reset" id="close" (click)="naviguerAnnonces()">Fermer</button>

              <button type="submit" ajoutAnonnce.valid value="Ajouter" id="open" >Ajouter</button>
            </div>

          </div>

        </div>
        <!-- La Fin de mon input container  -->

      </div>

    </div>

  </form>
  <!-- (click)=" naviguerVersliste()" -->
</div>