:root {
    --color-principal : #25A069;
    --color-secondaire : #D79A10;
    --color-blanc: #FFFFFF;
    --color-noir: #000000;
    --font-w200: 200;
    --font-w300: 300;
    --font-w400: 400;
    --font-w500: 500;
    --font-w600: 600;
    --font-w700: 700;
  }


.container {
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/image/mosquee.png');
    background-size: cover;
    background-position: center;
}

.title h2{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

// ===========================

.cadre_blanc {
    // backdrop-filter: blur(5px);
    background-color:rgba(255, 255,255,0.25); 
    border-bottom: 1px solid rgba(255, 255,255,0.25);
    border-right: 1px solid rgba(255, 255,255,0.25); 
    padding: 20px; 
    box-shadow: 0px 25px 50px rgb(0,0,0,0.1);
    margin: 80px 25px 10px 25px;
    border-radius: 20px;
}


// ===========================

.container_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mon_label,
.mon_label_double
{
    font-size: 15px;
    font-weight: 550;
    // text-transform: uppercase;
    letter-spacing: 0.69px;
}



.mon_input {
    width: 280px;
    outline: none;
    height: 48px;
    box-shadow: 0px 1px 12px 0px rgba(5, 188, 45, 0.10);
    border: none;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    font-size: 15px;
    margin-top: 5px;
    font-weight: var(--font-w500);
}

.mon_input_double {
    width: 135px;
    outline: none;
    height: 48px;
    box-shadow: 0px 1px 12px 0px rgba(5, 188, 45, 0.10);
    border: none;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    margin-top: 5px;
    font-weight: var(--font-w600);
    letter-spacing: 1px;
}

.double_input {
    display: flex;
    align-items: center;
    justify-content: center;
}


.date_content {
    margin-top: 10px;   
}

.date_content_double1 {
    margin-top: 10px;
    padding-right: 5px;
}
.date_content_double2 {
    margin-top: 10px;
    padding-left: 5px;
}

// ==================== bouton 

.buttonIonic{
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#open{
    padding: 13px 20px;
    margin: 10px;
    background-color: var(--color-principal);
    color: var(--color-blanc);
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{
        background-color: #165f3e;
    }
}

#close{
    background-color: #f1a009;
    padding: 13px 20px;
    margin: 10px;
    color: var(--color-blanc);
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{
        background-color: #9e6b0d;
    }
}
