.container{
    background-color: #25A069;
    height: 100%;
    width: 100%;
}   

.container>img{
    margin-left: 10%;
}

h1{
    color: white !important;
    margin-left: 30%;
    margin-top: -5px;
}

//minute debut audio
.audio-min-start{
    margin-top: -8%;  
    color: white;
    size: 20px ;
    margin-left: 2%;
    font-size: 15px;
}

// bar de progression  en jaune

.flex_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: -50%;
}

.flex_box>ion-button{
    margin-top: -20%;
}

ion-range{
    margin-left: 5px;
    margin-top: -11%;
}

// minute fin  audio
.audio-min-end{
    margin-top: -8%;
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-right: 2%;
}

//div pour la partie music de minute debut à la minute fin
.music{
    display: flex;
    margin-top: 50%;
}

// barre de progression en blanc 
.contain{
    margin-top: 10px;
    width: 270px;
    height: 15px;
    border-radius: 20px;
    margin-left: 13px;
    margin-top: 18px !important;
    background-color: whitesmoke;
}

.contenu-bas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10%;
}

ion-content {
    --background: #25A069;
  }

//   barre en rond avec 2 icon en bas 


  .bas{

    display: flex; 
    justify-content: space-between;
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-left: 10% ;
    margin-top: -30%;
    
  }

  .int{
    margin-top: 10px;
    margin-left: 5%;
  }
  
  ion-icon{
    font-weight: 500;
    font-size: 20px !important;
  }

  @media screen  and (min-width: 375px){

    ion-range{
    top: -52px;
    right: -5px;
    width: 200px;
 }

 .audio-min-start{
    margin-top: -22%;
 }
 .audio-min-end{
    margin-top: -22%;
 }
    
  }