<ion-content [fullscreen]="true">
  <h2 class="titre"> Liste des lecteurs</h2>

  <div class="div_ajouter_search">

    <div class="btn_container">
      <button class="btn_ajout" (click)="goToAjouter()">
        Ajouter
      </button>
    </div>

    <!-- Debut Pour les recherche bare search_container  -->
    <div class="search_container">
      <div class="recherche_bare">
        <input type="search" name="search" placeholder="Recherche" [(ngModel)]="recherche">

        <!-- mon icon de recherche  -->
        <i class="ri-search-line icon_search"></i>
      </div>
    </div>
    <!-- Fin Pour les recherche bare search_container  -->
  </div>

  <ng-container *ngIf="lecteurs.length > 0; else noLecteurs">
    <ion-card *ngFor="let lecteur of lecteurs">
      <ion-card-content>
        <!-- Ajouter un ngIf pour vous assurer que le lecteur passe le filtre -->
        <div class="iman" *ngIf="lecteurFiltre(lecteur)">
          <div class="photo">
            <img [src]="lecteur.photo" alt="la photo de l'iman">
          </div>
          <div class="nom">
            <h2>Nom:{{lecteur.nom}}</h2>
            <h2>Prénom: {{lecteur.prenom}}</h2>
            <h2>Nationalité: {{lecteur.nationalite}}</h2>
          </div>
          <div class="btn-actions">
            <ion-icon color="success" name="create-outline" (click)="modifier(lecteur)"></ion-icon>
            <ion-icon color="danger" name="trash-outline" (click)="deleteLecteur(lecteur)"></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #noLecteurs>
    <div class="no-lecteurs-message">
      Aucun lecteur trouvé.
    </div>
  </ng-template>
</ion-content>