.titre{
  color: #25A068;
  display: flex;
  display:flex;
  justify-content:center;
}

.btn-add{
  text-transform: capitalize;
}

.btn{
  margin-left: 5%;
  margin-top: 3%;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  color: white;
  background-color: #25A068;
}


.event-info{
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 85px;
  border: 2px solid rgba(233, 230, 230, 0.9);
  margin-left: 3%;
  margin-top: 5%;
  border-radius: 20px;

}
.event-info>img>.nom>.prenom>.nationnalite{
  margin-left: 10px;
}

.localisation{

  margin: -1%;
  width: 250px;
}




.loc{
  display: block;
  margin-left: 45%;
  // width: 120px;
  padding: -10px;
  margin-top: -60px;
}

.nom{
  margin-top: -2%;
  margin-left: 10%;
  
}

.prenom{
  margin-top: 1%;
  margin-left: 10%;
  
}

.nationnalite{
  
  margin-left: 10%;
  margin-top: -5%;
}


.lieu{
  margin-top: 10px;
  margin-left: 20px;
}

.icon-user{
  margin-top: 10px;
}

.date{
  margin-left: 10%;
}
.date-exact{
  width: 100px;
  margin-top: 8px;
}


.actions{
  margin-left: 30%;
  margin-top: 20px;
  display: flex;
  
}



.fa-regular{
  color: #25A068;
  margin-left: 10%;
}

.action>.fa-solid {
  color: red;
}

.icon{
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 40px;
  margin-right: 10%;
  float: right;

}
.icon>ion-icon{
  margin-left: 25%;
  margin-top: 10%;
}


// recherche

.container{
  display: flex;
}

.recherche{
  padding-left: 30px; 
  padding-right: 35px; 
  height: 30px;
  width: 80%; 
  border: 1px solid rgb(223, 223, 183);
  margin-top: 4%;
  margin-left: 9%;
  margin-right: 5%;
  border-radius: 15px;
  background-color:#E0E0E0;
  text-align: center; 
  position: relative; 
}

.search-container {
  position: relative;
  display: inline-block;
  margin-left: 10%;
}

.search-icon {
  position: absolute;
  right: 5px;
  left: 1px;
  margin-left: 8%;
  top: 58%;
  width: 18%;
  height: 30px;
  margin-left: 9%;
  border-radius: 20px;
  transform: translateY(-50%);
  background: var(--Couleur-Or, #D79A10); 
} 

.search-icon>ion-icon{
  margin-left: 19%;
  margin-top: 10%;
}

.img{
 width:80px;
 height: 80px;
 margin-left: 2%;
 border-radius: 50%;
 margin-top: 2%;
 
}


@media screen  and (min-width: 320px){

  .loc{
    margin-top: -80px;
    margin-left: 85px;
  }

  .nom{
    margin-top: -3px;
  }
  .prenom{
    margin-top: -8px;
  }
  .nationnalite{
    margin-top: -5px;
    width: 200px;
  }

  .icon{
    margin-left: -10px;
    margin-top: 20px;
  }


}