
<ion-content [fullscreen]="true">
  <h2 class="titre"> Liste des lecteurs</h2>

  <div class="div_ajouter_search">

    <div class="btn_container">
      <button class="btn_ajout" (click)="goToAjouter()">
        Ajouter
      </button>
    </div>

    <!-- Debut Pour les recherche bare search_container  -->
    <div class="search_container">
      <div class="recherche_bare">
        <input type="search" name="search" placeholder="Recherche" [(ngModel)]="recherche">
        <!-- mon icon de recherche  -->
        <i class="ri-search-line icon_search"></i>
      </div>
    </div>
    <!-- Fin Pour les recherche bare search_container  -->
  </div>

<ion-card *ngFor="let i=index,let imam of imanFiltres">
  <ion-card-content>
    <div class="iman">
      <div class="photo">
        <img src="" alt="la photo de l'iman">
      </div>
      <div class="nom">
        <h2>Nom:{{imam.nom}}</h2>
        <h2>Prénom: {{imam.prenom}}</h2>
        <h2>Nationalité: {{imam.nationalite}}</h2>
      </div>
    </div>
    <div class="btn-actions">
          <ion-icon color="success" name="create-outline"></ion-icon>
          <ion-icon color="danger"  name="trash-outline"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>
