.titre{
    color: #25A068;
    display: flex;
    display:flex;
    justify-content:center;
}

.btn-add{
    text-transform: capitalize;
}

.btn{
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    color: white;
    background-color: #25A068;
}


.event-info{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 70px;
    border: 2px solid rgba(233, 230, 230, 0.9);
    margin-left: 3%;
    margin-top: 5%;
    border-radius: 20px;

}

.localisation{

    margin: -1%;
    width: 250px;
}
.localisation>i{
    color: #25A068;
}

#icon-location{
    margin-top: 7%;
    margin-left: 7%;
    color: #25A068;
}

.loc{
    display: flex;
    margin-left: 10%;
    width: 120px;
}
.lieu{
    margin-top: 10px;
    margin-left: 20px;
}

.icon-user{
    margin-top: 10px;
}

.date{
    margin-left: 10%;
}
.date-exact{
    width: 100px;
    margin-top: 8px;
}


.action{
    display: flex;
    margin: 5%;
    margin-top: 10%;
    margin-left: 8%;
}

.heure{
    margin-top: -2%;
}

.action>i{
    margin-left: 20px;
    margin-top: 10%;
}

.fa-regular{
    color: #25A068;
}

.action>.fa-solid {
    color: red;
}

.info-imam{
    margin-top: -3%;
    display: flex;
    margin-top: 10px;
}

.nom-imam{
    margin-top: -10px;
    margin-left: 20px;
}
#icon-imam{
    margin-left: 13%;
    margin-top: -12px;
}


// recherche

.container{
    display: flex;
}

.recherche{
    padding-left: 30px; 
    padding-right: 35px; 
    height: 30px;
    width: 80%; 
    border: 1px solid rgb(223, 223, 183);
    margin-top: 4%;
    margin-left: 9%;
    margin-right: 5%;
    border-radius: 15px;
    background-color:#E0E0E0;
    text-align: center; 
    position: relative; 
}

.search-container {
    position: relative;
    display: inline-block;
    margin-left: 10%;
  }

  .search-icon {
    position: absolute;
    right: 5px;
    left: 1px;
    margin-left: 8%;
    top: 58%;
    width: 18%;
    height: 30px;
    margin-left: 9%;
    border-radius: 20px;
    transform: translateY(-50%);
    background: var(--Couleur-Or, #D79A10); 
  } 

  .search-icon>ion-icon{
    margin-left: 19%;
    margin-top: 10%;
  }


  .container{
    display: flex;
}
// ::::::::::::::::::::::::::::::::::::::::::::poppup formulaire  css:::::::::::::::::::::::::::::::::::::::::::::::::::
.vert{
    background: #25A069;
    width: 100%;
    height: 40px;
}
.poppup{
    background-image: url('../../../assets/icon/Frame\ 39\ 1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    //  position: relative;
     z-index: 0;
     width: 100%;
     height: 100vh;
    //  margin-top: 10px;
}
h1{
    font-size:30px;
    text-align: center;
    color: #fff;
    margin-top: -10px;
    font-family:'Poppins' sans-serif;
}
.inputLabel{
    margin-bottom: 20px !important;
    font-size: 18px;
    color: #fff;
    // margin-left: 10px;
}

h2{
    font-size: 30px;
    font-family:'Poppins' sans-serif;  ;
    color:#FFFFFF;
    opacity: 0.9;
    text-align: center;
}


.seconds{
    display: flex;
}
.third{
    display: flex;
}


// =========================================================================================================================================

 


//::::::::::::::::::::::::::::::::: button ajouter et fermer sur poppup::::::::::::::::::::::::::::::::::::::::::






// .block{
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
// }

.bloc2{
    margin: 5px;
}
.bloc3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bloc1{
    justify-content: center;
    align-items: center;
    display: flex;
}


.custom_input {
    width: 160px;
    border-radius: 10px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-top: 5px;
}

.custom_input3 {
    width: 340px;
    border-radius: 10px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-top: 5px;
}

.bloc_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
*
.ioninput {
    margin: 5px 10px;
}

// ion-input{

//     border-radius: 10px;
//     height: 20px;
//     width: 140px;
//     padding-left: 10px !important;
//     background-color: #E0E0E0;
//     color: black;
// }


// #inputBloc3{
//     width: 290px;
// }


// ===========================================================================================================================================

.horairePriere{
    display: flex;
    align-items: center;
    justify-content: center;
}


.horaire{
    border: 2px solid rgba(255, 255,255,0.25);
    border-radius: 20px; 
    width: 90%;
    // margin-left: 20px;
    // height: 30%;
    background-color:rgba(255, 255,255,0.25); 
    border-bottom: 1px solid rgba(255, 255,255,0.25);
    border-right: 1px solid rgba(255, 255,255,0.25); 

}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 0 0 0;

}

.input_priere{
    border-radius: 10px;
    color: rgb(39, 32, 32);
    background: #fffffff1;
    text-align: center;
    font-size: 20px;
    font-weight: bold; 
    width: 150px; 
    height: 44px;
    border: none;
    outline: red;
    margin: 5px 10px;
}

.label_content {
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

// ========================= BOUTTON

.buttonIonic{
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#open{
    padding: 13px 20px;
    margin: 10px;
    background-color: var(--color-principal);
    color: var(--color-blanc);
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{
        background-color: #78a792;
    }
}

#close{
    background-color: #f1a009;
    padding: 13px 20px;
    margin: 10px;
    color: var(--color-blanc);
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{
        background-color: #78a792;
    }
}
