<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>liste-mosquee</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">liste-mosquee</ion-title>
    </ion-toolbar>
  </ion-header> -->

  
  <h2 class="titre"> Liste des mosquées</h2>
  <div class="container">
  <button  class="btn">
   <i class="fa-solid fa-plus"></i>
   Ajouter
  </button>

  <div class="search-container">
    <input type="search" value="" class="recherche">
    <div class="search-icon">
      <ion-icon name="search-outline"></ion-icon>
      <!-- <ion-searchbar show-clear-button="always" cancel-button="true" [(ngModel)]="searchTerm"></ion-searchbar> -->
      <!-- <ion-icon name="close-outline" class="annuler"></ion-icon> -->
    </div>
  </div>
</div>


  <!-- <div class="event-info">
   <div class="localisation">
     <div class="loc">
       <i id="icon-location" class="fa-solid fa-location-dot"></i>
    <p class="lieu">ACI 2000</p>
     </div>
     <div class="info-imam">
       <i id="icon-imam" class="fa-regular fa-user"></i>
       <p class="nom-imam">Imam Aly</p> 
     </div>
  
     
     </div>

   <div class="action">
     <i class="fa-regular fa-pen-to-square"></i>  
     <i class="fa-solid fa-trash"></i> </div> -->

  <!-- </div>
  <div class="event-info">
   <div class="localisation">
     <div class="loc">
       <i id="icon-location" class="fa-solid fa-location-dot"></i>
    <p class="lieu">ACI 2000</p>
     </div>
     <div class="info-imam">
       <i id="icon-imam" class="fa-regular fa-user"></i>
       <p class="nom-imam">Imam Aly</p> 
     </div>
  
     
     </div> -->

   <!-- <div class="action">
     <i class="fa-regular fa-pen-to-square"></i>  
     <i class="fa-solid fa-trash"></i> </div>

  </div>
  <div class="event-info">
   <div class="localisation">
     <div class="loc">
       <i id="icon-location" class="fa-solid fa-location-dot"></i>
    <p class="lieu">ACI 2000</p>
     </div>
     <div class="info-imam">
       <i id="icon-imam" class="fa-regular fa-user"></i>
       <p class="nom-imam">Imam Aly</p> 
     </div>
  
     
     </div> -->

   <!-- <div class="action">
     <i class="fa-regular fa-pen-to-square"></i>  
     <i class="fa-solid fa-trash"></i> </div> -->

  <!-- </div>
  <div class="event-info">
   <div class="localisation">
     <div class="loc">
       <i id="icon-location" class="fa-solid fa-location-dot"></i>
    <p class="lieu">ACI 2000</p>
     </div>
     <div class="info-imam">
       <i id="icon-imam" class="fa-regular fa-user"></i>
       <p class="nom-imam">Imam Aly</p> 
     </div>
  
     
     </div>

   <div class="action">
     <i class="fa-regular fa-pen-to-square"></i>  
     <i class="fa-solid fa-trash"></i> </div>

  </div> -->
  <!-- <div class="event-info">
   <div class="localisation">
     <div class="loc">
       <i id="icon-location" class="fa-solid fa-location-dot"></i>
    <p class="lieu">ACI 2000</p>
     </div>
     <div class="info-imam">
       <i id="icon-imam" class="fa-regular fa-user"></i>
       <p class="nom-imam">Imam Aly</p> 
     </div>
  
     
     </div>

   <div class="action">
     <i class="fa-regular fa-pen-to-square"></i>  
     <i class="fa-solid fa-trash"></i> </div>

  </div> -->
  <div class="event-info">
   <div class="localisation">
     <div class="loc">
       <i id="icon-location" class="fa-solid fa-location-dot"></i>
    <p class="lieu">ACI 2000</p>
     </div>
     <div class="info-imam">
       <i id="icon-imam" class="fa-regular fa-user"></i>
       <p class="nom-imam">Imam Aly</p> 
     </div>
  
     
     </div>

   <div class="action">
     <i class="fa-regular fa-pen-to-square"></i>  
     <i class="fa-solid fa-trash"></i> </div>

  </div>
 
  

<!-- </ion-content> -->



<div *ngFor="let mosque of mosquee; let i = index" class="event-info">
      <!-- <img src="../../../assets/image/image 10.png" alt=""> -->
      
      <div class="localisation">
        
        <div class="loc">
          <i id="icon-location" class="fa-solid fa-location-dot"></i>
       <p class="lieu">{{ mosque.adresse }}</p>
        </div>

        <div class="info-imam">
          <i id="icon-imam" class="fa-regular fa-user"></i>
          <p class="nom-imam">{{ mosque.nom }}</p> 
        </div>

      </div>
    
<div class="action">
  <i (click)="modifierMosquee(i)" class="fa-regular fa-pen-to-square"></i>  
  <i (click)="supprimerMosquee(i)" class="fa-solid fa-trash"></i>
 </div>
</div>



<div class="event-info">
  <div class="localisation">
    <div class="loc">
      <i id="icon-location" class="fa-solid fa-location-dot"></i>
   <p class="lieu">ACI 2000</p>
    </div>
    <div class="info-imam">
      <i id="icon-imam" class="fa-regular fa-user"></i>
      <p class="nom-imam">Imam Aly</p> 
    </div>
    </div>

  <div class="action">
    <i class="fa-regular fa-pen-to-square"></i>  
    <i class="fa-solid fa-trash"></i> </div>

 </div>
</ion-content>
