
<ion-content [fullscreen]="true">


  <h2 class="titre"> Liste des mosquées</h2> <!---titre-->

  <div class="div_ajouter_search">

    <div class="btn_container">
      <button id="open-modal" expand="block" class="btn_ajout">
        Ajouter
      </button>
    </div>

    <!-- Debut Pour les recherche bare search_container  -->
    <div class="search_container">
      <div class="recherche_bare">
        <input type="search" name="search" placeholder="Recherche">
        <!-- mon icon de recherche  -->
        <i class="ri-search-line icon_search"></i>
      </div>
    </div>
    <!-- Fin Pour les recherche bare search_container  -->

  </div>

  <!--<div class="container">
     <button class="btn" id="open-modal" expand="block">
      <i class="fa-solid fa-plus"></i>
      Ajouter
    </button>

    <div class="search-container">
      <input type="search" value="" class="recherche">
      <div class="search-icon">
        <ion-icon name="search-outline"></ion-icon>
        
      </div>
    </div>
  </div> -->
<!-- <ion-searchbar show-clear-button="always" cancel-button="true" [(ngModel)]="searchTerm"></ion-searchbar> -->
<!-- <ion-icon name="close-outline" class="annuler"></ion-icon> -->

<div class="container_event">
  
  <!-- <div class="event-info"> -->
    <!-- <div class="localisation">

      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
        <p class="lieu">ACI 2000</p>
      </div> -->

      <!-- <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p>
      </div> 
    </div> -->
<!-- 
    <div class="action"><!--different action icon-
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-trash"></i>
    </div> -->
  <!-- </div> -->

</div>

  <!--::::::::::::::::::::::::::::::::::: formlairePoppup::::::::::::::::::::::::::::::::::::::::::::::; -->

  <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-content>
        <div class="poppup" style="padding-top: 25px;">
          <h1>Ajout Mosquées</h1>
          <div class="formlairePoppup">
            <form [formGroup]="createMosqueeForm" >
              <div class="contourt">

                <div class="block">
                  <!-- bloc container  -->
                  <div class="bloc_content">
                    <!--block 1-->

                    <div class="bloc1">

                      <div class="ioninput">
                        <label class="inputLabel">Nom :</label>
                        <br>
                        <input class="custom_input" placeholder="Votre nom..." type="text" formControlName="nom">
                      </div>
  
                      <div class="ioninput">
                        <label class="inputLabel">Adresse :</label>
                        <br>
                        <input class="custom_input" type="text" placeholder="Votre adresse..." formControlName="adresse">
                      </div>

                    </div>

                  </div>

                  <!-- ================================= LA DIFFERENCE  -->
                  
                  <!-- bloc container  -->
                  <div class="bloc_content">
                    <!--block 2-->

                    <div class="bloc1">

                      <div class="ioninput">
                        <label class="inputLabel">Imam :</label>
                        <br>
                        <input class="custom_input" placeholder="Nom Imam ..." type="text" formControlName="imam">
                      </div>
  
                      <div class="ioninput">
                        <label class="inputLabel">longitude :</label>
                        <br>
                        <input class="custom_input" type="number" placeholder="Votre longitude..." formControlName="longitude">
                      </div>

                    </div>

                  </div>

                </div>

                  <!-- bloc container  -->
                  <div class="bloc_content">
                    <!--block 2-->

                    <div class="bloc1">

                      <div class="ioninput">
                        <label class="inputLabel">latitude :</label>
                        <br>
                        <input type="number" class="custom_input3" placeholder="latitude ..."  formControlName="latitude">
                      </div>

                    </div>

                  </div>

                <!--::::::::::::::::::::::::::::::::::::::::::::::: heure de  priere du mosque:::::::::::::::::::::::::::::::::::::::-->
                <h2>Heure de prière :</h2>
                <div class="horairePriere" >

                  <div class="horaire">

                    <div class="contour-input">

                      <!-- Debut de mon input first container  -->
                      <div class="first_container">
                          <div class="first">
                            <div>
                              <label class="label_content">Fadjr</label>
                              <br>
                              <input type="time" class="input_priere" placeholder="Fadjr" formControlName="fadjr">
                            </div>

                            <div>
                              <label class="label_content">Magreb</label>
                              <br>
                              <input type="time" class="input_priere" placeholder="Magreb" formControlName="magreb">
                            </div>

                          </div>

                      </div>
                      <!-- Fin de mon input first container  -->

                      <!-- Debut de mon input Seconds container  -->
                      <div class="first_container">
                          <div class="first">
                            <div>
                              <label class="label_content">Zohr</label>
                              <br>
                              <input type="time" class="input_priere" placeholder="Zohr" formControlName="zohr">
                            </div>
                            
                            <div>
                              <label class="label_content">Isha</label>
                              <br>
                              <input type="time" class="input_priere" placeholder="Isha" formControlName="isha">
                            </div>

                          </div>

                      </div>
                      <!-- Fin de mon input Seconds container  -->

                      <!-- Debut de mon input third container  -->
                      <div class="first_container">
                        <div class="first">
                          <div>
                            <label class="label_content">Asr</label>
                            <br>
                            <input type="time" class="input_priere" placeholder="Asr" formControlName="asri">
                          </div>
                          
                          <div>
                            <label class="label_content">Djouma</label>
                            <br>
                            <input type="time" class="input_priere" placeholder="Djouma" formControlName="djouma">
                          </div>

                        </div>

                    </div>
                    <!-- Fin de mon input third container  -->
                      
                    </div>
                    

                    <div class="buttonIonic">
                      <button id="close" (click)="modal.dismiss()">Fermer</button>
                      <button id="open" type="button" (click)="onSubmit()" ajoutRadio.valid>Enregistrer</button>
                    </div>

                  </div>   

                </div>


              </div>
            </form>
          </div>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>



<!-- :::::::::::::::::::::::::::::::::::::::::::::::traitement de Togo:::::::::::::::::::::::::::::::-->

<div *ngFor="let mosque of mosquee; let i = index" class="event-info">
  <!-- <img src="../../../assets/image/image 10.png" alt=""> -->
  
  <div class="localisation">
    
    <div class="loc">
      <i id="icon-location" class="fa-solid fa-location-dot"></i>
   <p class="lieu">{{ mosque.adresse }}</p>
    </div>

    <div class="info-imam">
      <i id="icon-imam" class="fa-regular fa-user"></i>
      <p class="nom-imam">{{ mosque.nom }}</p> 
    </div>

  </div>

<div class="action">
<i (click)="modifierMosquee(i)" class="fa-regular fa-pen-to-square"></i>  
<i (click)="supprimerMosquee(i)" class="fa-solid fa-trash"></i>
</div>
</div>

</ion-content>
<!----::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<!--  -->