<ion-content [fullscreen]="true">
  <ion-header >
    <!-- <ion-toolbar>
      <ion-title size="large"><h1>Radio</h1></ion-title>
    </ion-toolbar> -->
    <div class="headRoundVert">
        <div class="headRoundBlanc">
        </div>
      </div>
  </ion-header>
  <div class="bak">

       <div class="element">
        <div class="conteneur">
           <div class="cont1">
               <div class="imag">
                  <p class="titreFm">FM</p>
                  <img class="logoRadio" src="../../../assets/radio.png" alt="">
               </div>
             <div class="h3"><h3>Mhz</h3></div>
           </div>

            <!-- <div class="cont2">
          <a href="https://www.radio.fr/s/radiodambebamako"><p>RADIO DAMBE FM </p></a>

        <h1 >90.6 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p >RADIO NIETA  FM </p>
        <h1 >92.8 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p>ISLAMIQUE FM </p>
        <h1>95.10 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p>NOUR DINE FM </p>
        <h1>100 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p >SILAMIYA FM </p>
        <h1 >100.5 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p>DINE KUNKA FM </p>
        <h1>100.10 <span>Mhz</span></h1>
      </div> -->
             <!-- </div> -->
        </div><br>
        <div class="ajouter_Recherche">
          <!-- Ici ce Pour les recherche bare container  -->
          <div class="Recherche_container">
            <div class="recherche_bare">
              <input type="search" [(ngModel)]="searchTerm"  placeholder="Recherche">
              <!-- mon icon de recherche  -->
              <i class="ri-search-line icon_search"></i>
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>

     </div>
         <!--ici ce pour recupere la liste de radio on va pausse un condition *ngFor  -->
         <!--ensuite on appel le radio par son nom et sa frequence dans 2 acolade comme ca-->
       <div class="cont2" *ngFor="let radio of sortRadio(searchTerm)">
          <p [innerHTML]="highlight(radio.nom, searchTerm)"></p>
          <h1 >{{radio.frequence}}<span>Mhz</span></h1>
       </div>
</div>
</ion-content>
