<ion-content [fullscreen]="true">
  <ion-header >
    <!-- <ion-toolbar>
      <ion-title size="large"><h1>Radio</h1></ion-title>
    </ion-toolbar> -->
    <div class="headRoundVert">
        <div class="headRoundBlanc">
        </div>
      </div>
  </ion-header>
  <div>
    <!-- <ion-list> -->

       <div class="element">
        <div class="conteneur">
        <div class="cont1">
          <div class="imag">
            <p class="titreFm">FM</p>
            <img class="logoRadio" src="../../../assets/radio.png" alt="">
          </div>
          <div class="h3"><h3>Mhz</h3></div>
          </div>
         <div class="cont2">
        <p >RADIO DAMBE FM </p>
        <h1 >90.6 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p >RADIO NIETA  FM </p>
        <h1 >92.8 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p>ISLAMIQUE FM </p>
        <h1>95.10 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p>NOUR DINE FM </p>
        <h1>100 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p >SILAMIYA FM </p>
        <h1 >100.5 <span>Mhz</span></h1>
      </div>
      <div class="cont2">
        <p>DINE KUNKA FM </p>
        <h1>100.10 <span>Mhz</span></h1>
      </div>
    </div>
    </div>
    <!-- </ion-list> -->
  </div>
</ion-content>
