.headRoundVert{
    width: 100%;
    height: 50px;
    background-color: #25A069;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}
.headRoundBlanc{
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    bottom: 0px;
}
.titleBarr{
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid rgba($color: #25A069, $alpha: 0.25);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleBarr P{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

ard-sourate{
border-radius: 10px;
}
.numéro{
width:30%;
text-align: center;
align-content: center;
}
.conteneur-sourate{
display: flex;
justify-content: space-between;
}
.numéro{
    width: fit-content;
}
.numéro .cercle1{
border: 4px solid #156515;
height: 40px;
width: 40px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
color: var(--Noir, #000);
text-align: center;
font-family: Poppins, serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sourate{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.sourateNameAr{
    font-size: 20px;
    color: black;
}
.nbreAyahs{
    color: black;
    margin-top: auto;
    text-align: end;
    font-size: 12px;
}
@media screen and (min-width: 400px) {
.sourate{
width:150px;
}
}
@media screen and (min-width: 800px) {
.sourate{
    width:400px;
}
}
.card-sourate{
cursor: pointer;
}
ion-card{
border-radius: 15px;
background: var(--Blanc, #FFF);
box-shadow: 0px 4px 6px 0px rgba(37, 160, 105, 0.33);
}