<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>adminAccueil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="headRoundVert">
      <div class="headRoundBlanc">

      </div>
    </div>
  </ion-header>

  <div class="cardTop">
    <div class="left">
      <p>Nombre total</p>
      <p>Admin</p>
    </div>
    <div class="right">
      <span>+5000</span>
      <img class="logoUser"  src="../../../assets/user-add-fill.png" alt="" srcset="">
    </div>
  </div>
  <div class="btn" (click)="goToListMosque()">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Mosquée</p>
    </div>
    <img class="logo" src="../../../assets/icon_mosquee_gold.png" alt="" srcset="">
  </div>
  <div class="btn" (click)="goToListAnnonce()">
    <div class="textTite">
      <p class="nbre">190</p>
      <p class="nomType">Annonce</p>
    </div>
    <img class="logo" src="../../../assets/icons8-annonce-80.png" alt="" srcset="">
  </div>
  <div class="btn" (click)="goToListSourate()">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Sourate</p>
    </div>
    <img class="logo" src="../../../assets/logo_quran_gold.png" alt="" srcset="">
  </div>
  <div class="btn" (click)="goToListRadio()">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Fréquence</p>
    </div>
    <img class="logo" src="../../../assets/icons8-radio-50.png" alt="" srcset="">
  </div>
  <div class="btn" (click)="goToInscription()">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Ajouter admin</p>
    </div>
    <img class="logo" src="../../../assets/addAdmin.png" alt="" srcset="">
  </div>
  

</ion-content>

<!-- ======================== FOOTER ============================== -->

<!-- ============ MON STYLE DE FOOTER ===========  -->

<style>

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_profile {
  width: 70px;
  height: 70px;
  margin: 8px 18px 8px 0;
}

.img_profile .image_admin {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 1px 4px;
}

.name_profile {
  margin-left: 20px;
}

.para_ligne {
  padding-left: 8px; 
}


.div_name_profil {
  position: relative;
}

</style>

<!-- ============ MON STYLE DE FOOTER ===========  -->

<ion-footer>
  <ion-toolbar>
    <!-- <ion-button routerLink="/accueil">Accueil</ion-button>
    <ion-button routerLink="/profil">Profil</ion-button> -->

    <div class="container_profile">
      <div class="profile">
        <!-- Le nom de profils de administrateur  -->
        <div class="div_name_profil">
          <!-- nom en question  -->
          <h3 class="name_profile" *ngIf="admin">{{admin.nom}} {{admin.prenom}}</h3>
        </div>
        <!-- div de image administrateur  -->
        <div class="img_profile">
          <!-- Umage de l'administrateur  -->
          <img class="image_admin" src="../../../assets/img_sy/avatar2.png" alt="image de l'administrateur">
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>