<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>adminAccueil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="headRoundVert">
      <div class="headRoundBlanc">

      </div>
    </div>
  </ion-header>

  <div class="cardTop">
    <div class="left">
      <p>Nombre total</p>
      <p>Admin</p>
    </div>
    <div class="right">
      <span>+5000</span>
      <img class="logoUser"  src="../../../assets/user-add-fill.png" alt="" srcset="">
    </div>
  </div>
  <div class="btn">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Mosquée</p>
    </div>
    <img class="logo" src="../../../assets/icon_mosquee_gold.png" alt="" srcset="">
  </div>
  <div class="btn">
    <div class="textTite">
      <p class="nbre">190</p>
      <p class="nomType">Annonce</p>
    </div>
    <img class="logo" src="../../../assets/icons8-annonce-80.png" alt="" srcset="">
  </div>
  <div class="btn">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Sourate</p>
    </div>
    <img class="logo" src="../../../assets/logo_quran_gold.png" alt="" srcset="">
  </div>
  <div class="btn">
    <div class="textTite">
      <p class="nbre">200</p>
      <p class="nomType">Fréquence</p>
    </div>
    <img class="logo" src="../../../assets/icons8-radio-50.png" alt="" srcset="">
  </div>

</ion-content>
