





<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">liste-evenement</ion-title>
    </ion-toolbar>
  </ion-header> -->


   <h2 class="titre"> Liste des évènements</h2>

   <div class="container">
  

   <div class="search-container">
    <input type="search" class="recherche" >
    <!-- <div class="search-icon">
      <ion-icon name="search-outline"></ion-icon>
      
    </div> -->
  </div>
<!-- </div> -->
</div>

<table class="conatiner_table">
  <thead>
    <tr>
      <th><ion-label class="ecriture">Type</ion-label></th>
      <th><ion-label class="ecriture"><span class="dessus">Lieu</span></ion-label></th>
      <th><ion-label class="ecriture">Dates</ion-label></th>
      <th><ion-label class="ecriture"><span class="dessus">Heures</span> </ion-label></th>
      <th><ion-label class="ecriture"><span class="dessus">Description</span></ion-label></th>
     
    </tr>
  </thead>
  <br>
  <tbody  >
    <tr class="custom-row">
      <td><ion-label class="write"></ion-label></td>
      <td><ion-label class="write"></ion-label></td>
      <td><ion-label class="write"></ion-label></td>
      <td><ion-label class="write"></ion-label></td>
      <td><ion-label class="write"></ion-label></td>
      <!-- <td><ion-label class="write"></ion-label></td> -->

      <td></td>
    </tr>

  </tbody>

  
</table>
