
:root{
 --vert : #25A069;
}




.chapelet{
    color: #25A069;
    // margin-left: 20%;
    display: flex;
    display:flex;
    justify-content:center;
    font-size: 40px ;
}


.count{
    display: flex;
    // margin-left: 48%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 20px;
    position: relative;
    font-size: 50px;
    color: #25A069;
}

.im1{
    margin-left: 22%;
}
.im2{
    margin-left: 20%;

}

.image{
    margin-top: 40px;
    margin-left: 33%;
    width: 35%;
    height: 150px;
    
}
h2{
    font-family: poppins, serif;
}
.liste-lecture{
    margin-right: 5%;
    display: block;
    margin-left: 5%;
    border:  1px solid #25A069;
    width: auto !important;
    height: 200px;
    overflow: scroll;
    border-radius: 20px;
    margin-top: 40%;
    margin-bottom: -20px;
}

.line{
    // height: 2px;
    color: #25A069;
    border: 1px solid #a1dbc1;
    width: 100%;
    background-color: #25A069;
}

.titre{
    margin-top:-5px;
}
.titre,.contenu{
    margin-left: 5%;
    padding-top: -5px;
}
.contenu{
    
    color: rgb(61, 60, 60);
    margin-top: -12px;
}

.el{
    margin-top: 5%;
    left: 5px;
    padding-top: -15px;
    height: 45px;
}

.icon-btn{
 display: flex;
 margin-left: 5%;
 position: relative;
 padding-left: -10px;
 justify-content: space-around;
}

ion-icon{
    font-size: 60px;
    margin-left: 5%;
    position: relative;
}


// chapelet
/* chapelet.page.scss */

.chapelet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
  }
  
  .boules-top,
  .boules-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boule {
    width: 40px; /* Largeur de chaque bille */
    height: 40px; /* Hauteur de chaque bille */
    background-color: green; /* Couleur des billes */
    border-radius: 50%; /* Forme circulaire */
    margin: 8px 0; /* Espacement vertical entre les billes */
    cursor: pointer;
  }
  
  .chapelet-trait {
    width: 2px; /* Largeur du trait */
    height: 100%; /* Hauteur du trait pour atteindre le bas */
    background-color: green; /* Couleur du trait */
  }
  


  