
:root{
 --vert : #25A069;
}




.chapelet{
    color: #25A069;
    margin-left: 30%;
    font-size: 40px ;
}


.count{
    display: flex;
    margin-left: 48%;
    margin-top: 20px;
    position: relative;
    font-size: 50px;
    color: #25A069;
}

.im1{
    margin-left: 22%;
}
.im2{
    margin-left: 22%;

}

.image{
    margin-top: 40px;
    margin-left: 33%;
    width: 35%;
    height: 150px;
    
}
h2{
    font-family: poppins, serif;
}
.liste-lecture{
    margin-right: 5%;
    display: block;
    margin-left: 5%;
    border:  1px solid #25A069;
    width: auto !important;
    height: 200px;
    overflow: scroll;
    border-radius: 20px;
    margin-top: 40%;
    margin-bottom: -20px;
}

.line{
    // height: 2px;
    color: #25A069;
    border: 1px solid #a1dbc1;
    width: 100%;
    background-color: #25A069;
}
.titre,.contenu{
    margin-left: 5%;
    padding-top: -5px;
}
.contenu{
    
    color: rgb(61, 60, 60);
    margin-top: -12px;
}

.el{
    margin-top: 5%;
    left: 5px;
    padding-top: -15px;
    height: 45px;
}

.icon-btn{
 display: flex;
 margin-left: 5%;
 position: relative;
 padding-left: -10px;
 justify-content: space-around;
}

ion-icon{
    font-size: 60px;
    margin-left: 5%;
    position: relative;
}