<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ajout-lecteur</ion-title>
    </ion-toolbar>
  </ion-header> -->
    <div class="arrier"><br><br>
    <div class="ajout">Ajout de Lecteur</div><br><br>
    <div class="liste">
      <div class="pDiv">
        <label class="photo">Photo </label><br>
        <div class="imagePlace"></div><br>
        <label for="nom-lecteur">Nom Lecteur</label><br>
        <input type="text" id="nom-lecteur" name="nom-lecteur" /><br><br>
        <label for="prenom-lecteur">Prenom Lecteur</label><br>
        <input type="text" id="prenom-lecteur" name="prenom-lecteur"/><br><br>
        <label for="Nationalite-lecteur">Nationalite Lecteur</label><br>
        <input type="text" id="Nationalite-lecteur" name="Nationalite-lecteur"/>
      </div>
      <button class="btn">Ajouter</button><br><br>
      <footer></footer>
    </div>
  </div>
</ion-content>
