<ion-content  [fullscreen]="true">
   <div class="arrier"><br><br>
  <div class="ajout">Ajout de Lecteur</div><br><br>
    <form [formGroup]="ajoutLecteur" (ngSubmit)="submit()" class="arrier">
      <div class="liste">
        <div class="pDiv">

          <label class="photo" for="ajout-lecteur">Photo </label><br>
          <!-- <input type="file" class="imagePlace" name="photo " formControlName="photo" >  -->
          <input type="file" (change)="onFileSelected($event)" accept="image/*" >
          <!-- <button (click)="uploadImage()">Envoyer</button> -->

          <label for="nom-lecteur">Nom Lecteur</label><br>
          <input type="text" id="nom-lecteur" name="nom" formControlName="nom" ><br><br>

          <label for="prenom-lecteur">Prenom Lecteur</label><br>
          <input type="text" id="prenom-lecteur" name="prenom" formControlName="prenom" ><br><br>

          <label for="Nationalite-lecteur">Nationalite Lecteur</label><br>
          <input type="text" id="Nationalite-lecteur" name="nationalite" formControlName="nationalite" >

      </div>
      <button type="submit" ajoutLecteur.valid class="btn">Ajouter</button><br><br>
    
     </div>
  </form>
  </div> 
</ion-content>
