<ion-header>
  <div class="head">
    <h2 class="titre"> Liste des évènements</h2>
    <div class="div_ajouter_search">


      <div class="btn_container">
        <button type="button" class="btn_ajout" (click)="naviguerVersAjoutEvenement()">
          Ajouter
        </button>
      </div>

      <!-- Debut Pour les recherche bare search_container  -->
      <div class="search_container">
        <div class="recherche_bare">
          <input type="search" name="search" placeholder="Recherche" (input)="onSearch($event)">
          <!-- mon icon de recherche  -->
          <i class="ri-search-line icon_search"></i>
        </div>
      </div>
      <!-- Fin Pour les recherche bare search_container  -->

    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenuPage">
    


    <div class="conten" *ngFor="let evenements of evenement ">
      <div class="cadre">
        <div class="nom">{{evenements.type}}</div>

        <div class="millieu">
          <!-- <p class="type">Type:</p> -->
          <p >Lieu : {{evenements.lieu}}</p>
          <p >Description : {{evenements.description}}</p>
        </div>

        <div class="bat">
          <div>
            <ion-buttons slot="end">
              <!-- Icône de modification -->
              <ion-icon name="create" style="cursor: pointer;" (click)="updateeven(evenements)"></ion-icon>
              <!-- Icône de suppression -->
              <ion-icon name="trash" style="color: #FF1203; cursor: pointer;"
                (click)="deleteEvenById(evenements.id)"></ion-icon>
            </ion-buttons>
          </div>
          <div>{{evenements.date}}</div>
          <div>{{evenements.heure}}</div>
        </div>



      </div>
    </div>
  </div>


</ion-content>