





<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">liste-evenement</ion-title>
    </ion-toolbar>
  </ion-header> -->


   <h2 class="titre"> Liste des évènements</h2>

   <div class="container">
   <button  class="btn" >
    <i class="fa-solid fa-plus" ></i>
    Ajouter
   </button>

   <div class="search-container">
    <input type="search" class="recherche" (input)="onSearch($event)">
    <div class="search-icon">
      <ion-icon name="search-outline"></ion-icon>
      <!-- <ion-searchbar show-clear-button="always" cancel-button="true" [(ngModel)]="searchTerm"></ion-searchbar> -->
      <!-- <ion-icon name="close-outline" class="annuler"></ion-icon> -->
    </div>
  </div>
<!-- </div> -->
</div>

<table class="conatiner_table">
  <thead>
    <tr>
      <th><ion-label class="ecriture">Type</ion-label></th>
      <th><ion-label class="ecriture"><span class="dessus">Lieu</span> Evenement</ion-label></th>
      <th><ion-label class="ecriture">Dates</ion-label></th>
      <th><ion-label class="ecriture"><span class="dessus">Heures</span> Evenement</ion-label></th>
      <th><ion-label class="ecriture"><span class="dessus">Description</span></ion-label></th>
      <th><ion-label class="ecriture"> Actions</ion-label></th>
    </tr>
  </thead>
  <br>
  <tbody *ngIf="evenement" >
    <tr *ngFor="let evenements of evenement "class="custom-row">
      <td><ion-label class="write">{{evenements.type}}</ion-label></td>
      <td><ion-label class="write">{{evenements.lieu}}</ion-label></td>
      <td><ion-label class="write">{{evenements.date}}</ion-label></td>
      <td><ion-label class="write">{{evenements.heure}}</ion-label></td>
      <td><ion-label class="write">{{evenements.description}}</ion-label></td>
      <!-- <td><ion-label class="write"></ion-label></td> -->

      <td>
        <ion-buttons slot="end">
            <!-- Icône de modification -->
            <ion-icon name="create" style="cursor: pointer;" (click)="updateeven(evenements)" ></ion-icon>
            <!-- Icône de suppression -->
            <ion-icon name="trash" style="color: #FF1203; cursor: pointer;" (click)="deleteEvenById(evenements.id)" ></ion-icon>
            
        </ion-buttons>
      </td>
      <td></td>
    </tr>

  </tbody>

  
</table>
