<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>liste-evenement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">liste-evenement</ion-title>
    </ion-toolbar>
  </ion-header> -->


   <h2 class="titre"> Liste des évènements</h2>

    <!-- /////////////////////////////////////////////// -->

    <div class="div_ajouter_search">

      <div class="btn_container">
        <button id="open-modal" expand="block" class="btn_ajout">
          Ajouter
        </button>
      </div>
  
      <!-- Debut Pour les recherche bare search_container  -->
      <div  class="search_container">
        <div class="recherche_bare">
          <input type="search" name="search" placeholder="Recherche">
          <!-- mon icon de recherche  -->
          <i class="ri-search-line icon_search"></i>
        </div>
      </div>
      <!-- Fin Pour les recherche bare search_container  -->
  
    </div>


   <div class="event-info">
    <div class="localisation">
      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
     <p class="lieu">ACI 2000</p>
      </div>
      <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p> 
      </div>
   
      
      </div>
    <div class="date">
      <p class="date-exact">28-09-2023</p>
      <p class="heure">21:00</p>
    </div>

    <div class="action">
      <i class="fa-regular fa-pen-to-square"></i>  
      <i class="fa-solid fa-trash"></i> </div>

   </div>
   <div class="event-info">
    <div class="localisation">
      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
     <p class="lieu">ACI 2000</p>
      </div>
      <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p> 
      </div>
   
      
      </div>
    <div class="date">
      <p class="date-exact">28-09-2023</p>
      <p class="heure">21:00</p>
    </div>

    <div class="action">
      <i class="fa-regular fa-pen-to-square"></i>  
      <i class="fa-solid fa-trash"></i> </div>

   </div>
   <div class="event-info">
    <div class="localisation">
      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
     <p class="lieu">ACI 2000</p>
      </div>
      <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p> 
      </div>
   
      
      </div>
    <div class="date">
      <p class="date-exact">28-09-2023</p>
      <p class="heure">21:00</p>
    </div>

    <div class="action">
      <i class="fa-regular fa-pen-to-square"></i>  
      <i class="fa-solid fa-trash"></i> </div>

   </div>
   <div class="event-info">
    <div class="localisation">
      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
     <p class="lieu">ACI 2000</p>
      </div>
      <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p> 
      </div>
   
      
      </div>
    <div class="date">
      <p class="date-exact">28-09-2023</p>
      <p class="heure">21:00</p>
    </div>

    <div class="action">
      <i class="fa-regular fa-pen-to-square"></i>  
      <i class="fa-solid fa-trash"></i> </div>

   </div>
   <div class="event-info">
    <div class="localisation">
      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
     <p class="lieu">ACI 2000</p>
      </div>
      <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p> 
      </div>
   
      
      </div>
    <div class="date">
      <p class="date-exact">28-09-2023</p>
      <p class="heure">21:00</p>
    </div>

    <div class="action">
      <i class="fa-regular fa-pen-to-square"></i>  
      <i class="fa-solid fa-trash"></i> </div>

   </div>
   <div class="event-info">
    <div class="localisation">
      <div class="loc">
        <i id="icon-location" class="fa-solid fa-location-dot"></i>
     <p class="lieu">ACI 2000</p>
      </div>
      <div class="info-imam">
        <i id="icon-imam" class="fa-regular fa-user"></i>
        <p class="nom-imam">Imam Aly</p> 
      </div>
   
      
      </div>
    <div class="date">
      <p class="date-exact">28-09-2023</p>
      <p class="heure">21:00</p>
    </div>

    <div class="action">
      <i class="fa-regular fa-pen-to-square"></i>  
      <i class="fa-solid fa-trash"></i> </div>

   </div>

</ion-content>
