<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pageaffichage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pageaffichage</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="headRoundVert">
    <div class="headRoundBlanc">

    </div>
  </div>
  <div class="titleBarr">
    <p *ngIf="name.length !=0" >{{ name }}</p>
  </div>
  <div *ngIf="ayahs">
    <div class="sourateDive" *ngFor="let i= index ; let ayas of ayahs">
      <p class="sourateAyas">{{ayas.text}}</p>
      <p *ngIf="traslateAyahs" class="sourateAyasTrans">{{traslateAyahs[i].text}}</p>
    </div>
  </div>
  
</ion-content> 