<ion-content [fullscreen]="true">
  <div class="card-info">
      <div class="iman-info">
        <div class="fullname">
          <p>{{nom}} {{prenom}}</p>
        </div>
      <div class="photo">
        <img src={{photo}} alt="la photo de l'iman">
      </div>
    </div>
</div>
  <div class="search_container">
    <div class="recherche_bare">
      <input type="search" name="search" placeholder="Recherche" [(ngModel)]="recherche">
      <!-- mon icon de recherche  -->
      <i class="ri-search-line icon_search"></i>
    </div>
  </div>
  <div *ngIf="sourateList">
    <ion-card *ngFor="let i= index ;let sourate of sourateList">
      <ion-card-content class="card-sourate">
        <div class="conteneur-sourate">
          <div class="numéro">
            <div class="cercle1">
              {{sourate.id}}
            </div>
          </div>
          <div class="sourate">
            <p class="sourateNameAr" >{{ sourate.name_arabic }}</p>
            <p class="sourateNameEn">{{ sourate.name_simple }}</p>
          </div>
          <div class="bouton-jouer">
            <button [disabled]="!sourateAudioList" [ngStyle]="{'background-color': isPlay == i ? 'rgba(37,160,105, 0.5)' : 'transparent'}" (click)="playQuran(i)">
              <ion-icon *ngIf="isPlay != i || isPause == i " name="play-outline"></ion-icon>
              <ion-icon *ngIf="isPlay == i && isPause != i" name="pause-outline"></ion-icon>
            </button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
