/* Style de base pour un bouton */
button {
    background-color: #04a755; 
    color: #fff; 
    padding: 10px 40px; 
    border: none; 
    border-radius: 5px;
    border-color: darkgoldenrod; 
    font-size: 50%;
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 10%;
    width: 80%;
    justify-content: center;
  }
  .img2{
    margin-left: 20px;
  }
  
  
  h1{
    text-align: center;
    color: #04a755 ;
    font-size: 35px;
    margin-bottom: 10px;
  }
  H2{
    text-align: center;
  }
 
  
  
  