<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page_de_bienvenu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="bienvenu">
<img src="../../../assets/image/Group 193.png" alt="">
<img class="img2" src="../../../assets/image/icone.png" alt="">
<div>
  <h2>Bienvenue sur</h2>
<h1>MuslimGuide</h1><br><br><br>
</div>
<div class="bouton">
  <button (click)="goToAccueil()">Commencer</button><br><br>
<button class="bt2" (click)="goToLogin()">Compte</button>
</div>
    </div>
  </ion-content>
</ion-content>

